$page-background:#EBEDF5;
$header-bg: #fff;
$header-badge: #f0142f;
$dark-text: #2B3A44;
$menu-active-bg: #EBEDF5;
$input-border-color:#c2c6d2;
$light-devider-color: #eaeaeb;
$negative: #f0142f;
$active-state: #00eeae;
$orange: #F27535;
$green: #009681;
$button-primary:#2b3a44;
$button-warn:#f0142f;
$link-text: #1931E3;
$link-text-hover: $link-text;
